
#data-table {
    border: 1px solid #ccc;
    display: table;
    padding: 3px;
    position: relative;
    left:20%;
    top:20px;
}
#data-table .data-row {
    display: table-row;
}
#data-table .data-cell {
    padding: 1px 5px;
    border: 1px dotted #ccc;
    margin: 3px;
    min-height: 25px;
    min-width: 100px;
    cursor: pointer;
    font-weight: bold;

}
#data-table .data-cell input {
    max-width: 100px;
}
.data-button {
    padding: 5px;
}

h1{
    text-align: center;
}