body{
  background-color: #E9EEF4;
  overflow: hidden;

}
.nav{
  position: relative;
  top:-8px;
  left:-9px;
  height: 70px;
  width:100vw;
  box-shadow: 0px 2px #ddd;
  border:2px solid #ccc;
  background-color: #3017A9;
}
.login-box{
  position:relative;
  top:90px;
  margin: 10px auto;
  width: 450px;
  height: 270px;
  background-color: #fff;
  padding: 10px;
  border-radius: 3px;
  border:1px solid #eee;
  -webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.33);
-moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.33);
box-shadow: 2px 2px 3px 3px rgba(0,0,0,0.33);
}
.lb-header{
  position:relative;
  color: #00415d;
  margin: 5px 5px 10px 5px;
  padding-bottom:10px;
  border-bottom: 1px solid #eee;
  text-align:center;
  height:28px;
  box-shadow: 0px 2px #ccc;

}
::placeholder{
  font-weight: bold;
  color:black;
}

.lb-header a{
  margin: 0 25px;
  padding: 0 20px;
  text-decoration: none;
  color: #666;
  font-weight: bold;
  font-size: 15px;
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  transition: all 0.1s linear;
}
.lb-header .active{
  color: #029f5b;
  font-size: 18px;
}
.social-login{
  position:relative;
  float:right;
  width:100%;
  height:auto;
  padding: 10px 0 15px 0;
  border-bottom: 1px solid #eee;

}
.social-login a{
  position:relative;
  float:right;
  top:-175px;
  width:140px;
  height: 10px;

  text-decoration: none;
  color: #fff;
  border: 1px solid rgba(0,0,0,0.05);
  padding: 12px;
  border-radius: 5px;
  font-size: 12px;
  text-transform: uppercase;
  margin: 0 3%;
  text-align:center;

}
.social-login a i{
  position: relative;
  float: left;
  width: 20px;
  top: 2px;

}
.social-login a:first-child{
  background-color: #49639F;
}
.social-login a:last-child{
  background-color: #990F0F;
}
.email-login,.email-signup{
  position:relative;
  float: left;
  width: 100%;
  height:auto;
  margin-top: 20px;
  text-align:center;
}
.u-form-group{
  width:100%;
  margin-bottom: 10px;
}
.u-form-group input[type="email"],
.u-form-group input[type="password"]{
  display: block;
  width: 40%;
  border: none;
  outline: none;
  border-bottom: 1px solid #888;
  background-color: transparent;
  padding: 8px 15px;
}
.u-form-group input:focus{
  border-color: #358efb;
}
.u-form-group button{
  width:40%;
  height: 30px;
  position: relative;
  left:-125px;
  top:40px;
  background-color: #1B9AF7;
  border: none;
  outline: none;
  color: #fff;
  font-size: 12px;
  font-weight: normal;
  padding: 10px 0;
  border-radius: 2px;
  text-transform: uppercase;
}
.forgot-password{
  width:50%;
  position: relative;
  top:-38px;
  left: 5px;
  text-align: left;
  text-decoration:none;
  color:#1B9AF7;
  font-size: 0.6rem;
  font-family: 'ubuntu';
  font-weight:bold;
}
.remember{
  width:50%;
  position: relative;
  top:-38px;
  left: -220px;
  text-align: left;
  text-decoration:none;
  color:black;
  font-size: 0.6rem;
}
.checkbox{
  position: relative;
  left:-220px;
  top:-35px;
  font-size:1.5px;
}
.text_privacy{
  position: relative;
  top:-145px;
  font-size: 0.56em;
  left:105px;
  font-weight: bold;
  font-family: 'ubuntu';
}
.text_privacy_sign{
  position: relative;
  top:-135px;
  font-size: 0.6rem;
  left:-80px;
  font-weight: bold;
  font-family: 'ubuntu';
}
.footer{
  border:1px solid #640344;
  position: relative;
  bottom: -230px;
  left:-9px;
  width: 100vw;
  height:55px;
  background-color: #3017A9;
}
.text{
  position: relative;
  left:-305px;
  color: #fff;
  font-family: 'ubuntu';
}
.text1{
  position: relative;
  top:-34px;
  left:-95px;
  color: #fff;
  font-family: 'ubuntu';
}
.text2{
  position: relative;
  float: right;
  top:-85px;
  left:-100px;
  color: #fff;
  font-family: 'ubuntu';
}